# macOS / Windows
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build outputs / caches
dist/
.astro/

# Package manager / tooling caches
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.yarnrc.yml
.pnp.*
